@use '../abstracts.scss' as m;

.m-wrapper-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 99px;
    margin-bottom: 43px;

    @include m.md(){
        flex-direction: column;
        gap: 40px;
    }

    &__logo,
    &__one,
    &__two,
    &__three {
        width: 250px;
    }

    &__logo {
        display: flex;
        align-items: flex-start;
    }

    &__one {
        &-title{
            margin-bottom: 24px;
        }
        &-text {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__two {
        &-title{
            margin-bottom: 24px;
        }
        &-text {
            margin-bottom: 36px;
        }
        a {
            display: block;
        }
    }

    &__three{
        &-title{
            margin-bottom: 28px;
        }
        &-section{
            display: flex;
            gap:7px;
            margin-bottom: 12px;
        }
        }

    &__icons {
        display: flex;
        justify-content: flex-end;
        padding: 41px 0px 42px 0px;
        gap: 11px;
    }

    &__last-text {
        padding:41px 0px 42px 0px;
    }
}
