
@use '../abstracts.scss' as m;

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;

}
.m-wrapper-header{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    position: sticky;
    top: 0;

    &__left {
        display: flex;
        align-items: center;
        gap: 35px;
    }
    &__link{
        display: flex;
        margin: 0px 20px;
        &-icon{
            margin: 5px;
        }
        &-text{
            margin: 5px;
        }
        @include m.lg(){
            display: none;
        }
    }
    
}
