.m-wrapper-home{
    background-image: 
    linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1.73)),
    url('https://plus.unsplash.com/premium_photo-1675686363443-30a885f063c2?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__container{
        display: flex;
    }
    &__left{
        position: relative;
        z-index: 1;
        padding: 126px 0px;
        width: 40%;
    }
    &__caption{
        padding-bottom: 8px;
    }
    &__title{
        padding-bottom: 8px;
    }
    &__paragraph{
        padding-bottom: 24px;
    }
    &__image{
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
    }
}