@use '../abstracts.scss' as m;
.m-wrapper-items {
    margin-top: 70px;
    background-color: #F8F8F8;
    border-radius: 20px;
    padding: 40px;

    @include m.lg{
        padding: 30px 20px 20px 30px;
    }
    @include m.sm{
        padding: 30px 5px 20px 30px;
    }

    &__all-items{
        padding: 30px 0px 20px 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__item {
        display: inline-flex;
        align-items: center;
    }
    &__icon{
        margin: 5px 0px 5px 5px;
        background: #8EED06;
        padding: 10px;
        border-radius: 10px;
    }
}