---
import logocm from "../assets/logocm.svg";
import { Image } from "astro:assets";
---

<footer>
  <div class="m-wrapper-footer container">
    <Image src={logocm} alt="Logo centro médico" />

    <div class="m-wrapper-footer__two">
      <a>
        <p>Horarios</p>
      </a>
      <a>
        <p>Lunes a Viernes</p>
        <p>9:00 a.m. - 6:00 p.m.</p>
      </a>
      <a>
        <p>Miércoles</p>
        <p>9:00 a.m. - 7:00 p.m.</p>
      </a>
      <a>
        <p>Sábado, Domingo</p>
        <p>Cerrado / Operativo en casos especiales</p>
      </a>
    </div>

    <div>
      <a>
        <p>Ubicación</p>
      </a>
      <a>
        <p>Parcela 154, Km 8, La Vara Puerto Montt</p>
      </a>
      <a>
        <p>Ver ubicación en google maps</p>
        <p>Hablar con asistente virtual</p>
      </a>
    </div>

    <div>
      <a>
        <p>Contacto</p>
      </a>
      <a>
        <img />
        <p>cmvinapm@gmail.com</p>
      </a>
      <a>
        <img />
        <p>(56) 9 6618 2335</p>
      </a>
    </div>
  </div>
</footer>

<style></style>
