---
import logocm from '../assets/logocm.svg';
import navitagion from '../assets/navigation.svg';
import call from '../assets/call.svg';
import arrow from '../assets/arrow.svg';
import arrowdown from '../assets/arrow_down.svg';
import { Image } from 'astro:assets';
---

<header>
	<div class="m-wrapper-header container">
		<Image src={logocm} alt='Logo centro médico' />
		 
		<div class="m-wrapper-header__left">
			<a href="#" class="m-wrapper-header__link">
				<Image src={navitagion} alt='Icono de navegación' class="m-wrapper-header__link-icon" />
				<p class="m-wrapper-header__link-text">Ubícanos</p>
			</a>
			<a href="#" class="m-wrapper-header__link"> 
				<Image src={call} alt='Icono de llamada' class="m-wrapper-header__link-icon" />
				<p class="m-wrapper-header__link-text">Lllamar</p>
			</a>
			<a href="#" class="c-button">
				<p>Reservar hora</p>
				<Image src={arrow} alt='Icono de llamada' class="c-button__icon" />
			</a>
	
		</div>
	</div>
	<div class="c-divider"></div>
</header>

<style>

</style>
