---
import logocm from '../assets/logocm.svg';
import { Image } from 'astro:assets';
---

<header>
	<div class="m-wrapper-header container">
		<Image src={logocm} alt='Logo centro médico' />
		 
		<div class="m-wrapper-header__left">
			<a>
				<p>Ubícanos</p>
			</a>
			<a>
				<img>
				<p>Ubícanos</p>
			</a>
			<a>
				<p>Reservar hora acá</p>
				<img>
			</a>
	
		</div>
	</div>
</header>

<style>

</style>
