---
import arrow from '../assets/arrow.svg';
import arrowdown from '../assets/arrow_down.svg';
import { Image } from 'astro:assets';
---
<div class="m-wrapper-nav container">
    <nav>
        <ul>
            <li>
                <a href="#">
                    <p>Equipo</p>
                    <Image src={arrowdown} alt="Flecha hacia abajo"/>
                </a>
            </li>
        </ul>
    </nav>

</div>
<div class="m-wrapper-home">
    <div class="m-wrapper-home__container container">
        <div class="m-wrapper-home__left">
            <p class="text-caption m-wrapper-home__caption">Reserva tu hora</p>
            <h3 class="m-wrapper-home__title">Centro Médico Viña <br> Puerto Montt</h3>
            <p class="m-wrapper-home__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            <a href="#" class="c-button">
                <p>Reservar hora</p>
                <Image src={arrow} alt='Icono de llamada' class="c-button__icon" />
            </a>
        </div>
        <div class="m-wrapper-home__image">

        </div>
    </div>
</div>

<style>

</style>
