@use './abstracts.scss' as m;

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 4.5rem;
    font-weight: medium;
}
h2 {
    font-size: 3rem;
    font-weight: medium;
}
h3 {
    font-size: 2.5rem;
    font-weight: medium;
}
h4 {
    font-size: 2.25rem;
    font-weight: medium;
}
p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: medium;
}

.text-small{
    font-size: 0.875rem;
    font-weight: medium;
}
.text-caption{
    font-size: 0.75rem;
    font-weight: medium;
}

.text-bold{
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    @include m.md(){
        width: 90%;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #191D1E;
}